/* Set general styling for the page. */
body {
  display: flex;
  align-items: center;

  background-color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
}

/* Size of the logo image changes with the width of the window. */
#logoImage {
  height: 7vw;
  width: auto;
}

/*  Dynamic font-size changes with the width of the window.
    Margin to the other elements kept variable to prevent gaps appearing.
*/
#loginLabel {
  font-size: 2vw;
  margin: 1.5vh;
  text-align: center;
}

#closeBannerButton {
  height: 40%;
  width: auto;
}

.alertContainer {
  height: 50px;
  margin: 5px;
}

/* Login area will be 25% of the window width. */
.login {
  width: 25%;
  height: 50%;
  margin: auto;
}

.form {
  width: auto;
  margin: auto;
  text-align: center;
}

/* Styling for the input boxes.*/
.form input {

  background: white;
  width: 75%;
  border: 0;
  border-radius: 5px; /* Rounded corners.*/
  margin: 0 0 2px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 1.5vw;

}
.form button {
  background: orange;
  width: 75%;
  border: 0;
  border-radius: 5px;
  margin-top: 0.5vh;
  padding: 15px;
  box-sizing: border-box;
  font-size: 1.5vw;
}

/*  Page responds to the user. */
.form button:hover{
  background-color:#FF8C00;
}

/* Background colour when the user selects an input box. */
.form input:focus {
  background: #dbdbdb;
}

#smallErrorMessage {
  visibility: hidden;
}

/*  Login form stops shrinking when the window width is less than 800px
    Done to prevent the size of the fonts and images getting too small for the user to read.
*/
@media screen and (max-width: 800px) {
  #logoImage {
    width: 58px;
    height: 56px;
  }
  .login {
    width: 75%;
  }

  .form {
    min-width: 196px;
    min-height: 241px;
  }
  #loginLabel {
    width: 100%;
    height: 18px;
    font-size: 16px;
    margin-left:0;
    margin-right:0;
  }
  /* Styling for the placeholder value in the username and password input boxes. */
  ::-webkit-input-placeholder {
    font-size: 12px;
  }
  .form button {
    font-size: 12px;
    height: 44px;
  }
  .form input{
    height: 44px;
  }
  .alertContainer {
    min-width: 196px;
    font-size:12px;
  }
  
}
@media screen and (max-width: 1027px) {
  #individualAlertBanner {
    min-width:184px;
  }
}