/*
#9EA3B0 light grey
#546A7B blue
#0D1F2D navy
*/

* {
    box-sizing: border-box
} 

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #0D1F2D;
}
.center {
	text-align:center;
}
body,td,th {
	color: #F0F0F0; 
}

.textinput {
	font-size:larger;
	text-align:centre;
	border: 2px solid black;
	font-weight: bold;
	margin: auto;
	cursor: text;
	width: 80%;
	height: 10%;
	border-radius: 4px;
}

.searchbutton {
	font-size:larger;
	text-align:centre;
	color: #2C2C3C;
	border: 2px solid black;
	font-weight: bold;
	background-color: #85C7F2;
	margin: auto;
	cursor: pointer;
	width: 10%;
	height: 10%;
	border-radius: 4px;
	transition: transform .2s;
}
.searchbutton:hover {
  transform: scale(1.1);
}

.container {
	width: 100%;
	overflow: hidden;
	
}

.maindiv {            
    width: 79%;           
	height: 100%;
    background: #0D1F2D;
	border: 0px solid #2C2C3C;
	overflow: hidden;
	float:left;
}
.maindiv ul {
    list-style: none; 
    line-height: 100%;

}

.historydiv {            
    width: 90%;           
	height: 80%;
    background: #040504;
	border: 0px solid #2C2C3C;
	overflow-y:scroll;
	float:left;
	border-radius: 6px;
	text-align: center
	
}

.historycard {            
    width: 95%;           
	height: 25%;
    background: #546A7B;
	border: 0px solid #2C2C3C;
	overflow: hidden;
	display: block;
	margin: 20 auto;
	border-radius: 4px;
}
.historycard table {
	margin: 10 auto;
	text-align: center;
    list-style: none; 
    line-height: 100%;
	width: 100%;
	height: 80%;

}
.cardbutton {
	font-size:larger;
	text-align:centre;
	color: #2C2C3C;
	border: 2px solid black;
	font-weight: bold;
	background-color: #85C7F2;
	margin: auto;
	cursor: pointer;
	width: 70%;
	height: 100%;
	border-radius: 4px;
	transition: transform .2s;
}
.cardbutton:hover {
  transform: scale(1.1);
}

/*Tag Arrow*/
.tag-shape {
	width: 10%;
	height: 100%;
	margin: auto auto;
	text-align: center;
	font-weight: bold;
	background-color: #EE4444;
	border: 2px solid black;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

/*Navigation Bar*/
.sidebarheader {
	margin: 20 auto;
	text-align: center;
	width: 100%;
}
.sidebarbutton {
	font-size:larger;
	color: #F0F0F0;
	font-weight: bold;
	background-color: #5D6F7D; /*#546A7B;*/
	margin: 10 auto;
	cursor: pointer;
	width: 100%;
	height: 20%;
	border: 0px;
	border-radius: 8px;
}
.sidebarbutton:hover {
  background-color: #9EA3B0;
  
}
.nav {            
    width: 20%;           
	height: 100%;
    background: #5D6F7D;
	overflow: auto;
	text-align: centre;
	float:left;
	border: 2px solid black;
}
.nav ul {
    line-height: 100%;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.nav li {
	margin: auto;
	text-align: centre;
}