<!DOCTYPE html>
<html>
	<title>Active Issues</title>
	<link href="/css/shellstylesheet.css" rel="stylesheet">
	<link href="/css/active-issues.css" rel="stylesheet">
	<head> 
	</head>
	<body>
		<div class="container">
			<div class="header">
			</div>
			<div class="wrapper clearfix">
				<div class="nav">
					<ul>
						<h1 class="sidebarheader">Sidebar</h1>
						<li colspan=1><input type="submit" name="Search" id="Search" value="Search 🔎" class="sidebarbutton" title="mouseover text" /></li>	
						<li colspan=1><input type="submit" name="Search" id="Search" value="History" class="sidebarbutton" title="mouseover text" /></li>	
						<li colspan=1><input type="submit" name="Search" id="Search" value="Contact" class="sidebarbutton" title="mouseover text" /></li>	
						<li colspan=1><input type="submit" name="Search" id="Search" value="Log Out" class="sidebarbutton" title="mouseover text" /></li>
					</ul>
				</div>
				<div class="maindiv">
					<ul>
						<h1>This is not the sidebar</h1>
						<li colspan=1><input name="searchbar" type="text" class="textinput" id="searchbar" value="" size="30" />
						<input type="submit" name="Search" id="Search" value="Search 🔎" class="searchbutton" title="mouseover text" /></li>	
					</ul>
					<div class="active-issues-div" id="active-issues-div">
                        <h1>Active Issues</h1>
                        <script>
                            for (let i = 0; i < 10; i++) {
                                document.addEventListener('DOMContentLoaded', function() {
                                    var div = document.createElement('div');
                                    div.id = 'card';
                                    div.innerHTML = '<h1>Card ' + i +'<h1>';
                                    div.className = 'active-issues-div';
									div.addEventListener('click', function (event) {
										fetch('./active-issues/'+i, {method: 'POST'})
									});
                                    document.getElementById("active-issues-div").appendChild(div);
                                }, false);
                            }
                        </script>
                    </div>
				</div>
			</div>
		</div>
	</body>
</html>